body {
    background-image: linear-gradient(#12ffb4, #ff74f7)
}



/*  animation: 1s slidefade 1s forwards;
    margin-top: 100px;
}
@keyfarmes slidefade {
    100%{
        opacity: ;
        margin: 0;
    }
}
*/
body {
    font-family: 'Raleway', sans-serif;
}


html {
    font-size: 2vw;
}


/* back to top arrow*/


.back-to-top {
position: fixed;
bottom: 2em;
right: 5px;
text-decoration: none;
color: #000000;
font-size: 12px;
padding: 1em;
display: none;
}

.back-to-top:hover {
opacity:0.96;
text-decoration: none;
}


/* powyżej kolor i czcionka*/





.navbar-default {

    animation: 1s fadein 0.5s forwards;
    opacity: 0;
   position:absolute !important;
}


/* kolor czcionki navbar*/



.navbar a{
color: white;
    font-size: 5vh;
    background-color: 
}


.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
    background-color: white;
}



@keyframes fadein {
    100% {
        opacity: 1;
    }
}


.nav-item {
    text-align: center;
}

.navbar-brand img {
    margin: 10px;
    height: 8vh;
    position: relative animation: bounceIn 0.6s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.4s cubic-bezier(.8, 1.8, .75, .75);
    cursor: pointer;
}

.navbar-brand img:hover {
    transform: rotate(10deg) scale(1.1);
}

@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        opacity: 1;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.navbar-toggler {
    margin: 10px;
    border: none !important;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}


/* powyżej navbar */



#bgvideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.hero {
    position: relative;
    text-align: center;
    color: white;



}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(91, 222, 198, 0), rgba(91, 222, 198, 1))
}

.herotext {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: calc(20px + 3vw);
}


/* powyżej hero image */


.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.background {
    background-color: blue;
      overflow: hidden;  
}

.videos {
    width:700px;
    transition: 1s;

}

.videos:hover {
    filter: grayscale(100);
    opacity: 1;
    transition: all, 2,5s, ease-in, 1.5s;
    transform: scale(1.3);
    transform-origin: 50% 50%;

}

/* powyżej gify */



#intro {

    margin-top: 5vh;
    margin-bottom: 10vh;
    color: antiquewhite;
    font-size: calc(20px + 1vw);
}

#overlay2 {

    height: 20vh;
    width: 100vw;
    background-image: linear-gradient(rgba(91, 222, 198, 1), rgba(109, 112, 85, 0))
}

.triangles{
    height: 80%;
        float: right;
}
/* powyżej wielkosc napisow */
/* summary */


.sum {
    color: antiquewhite;
    font-size: calc(20px + 1vw)
}

.p1 {
    font-size: calc(20px + 1vw);
}

.p2 {
    font-size: calc(10px + 1vw);
}


/* zdjecie */

.books {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sciana {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    margin: 0 auto;
}


/* ikony */

.share{
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
